<footer class="footer">
  <div class="container text-center">
  <!-- Footer links  -->
    <div class="row text-center">
    <!-- Grid Column -->
      <div class="column ml-auto mr-auto">
        <h6>Company name</h6>
        <p>
          Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.
        </p>
      </div>

      <hr>

      <!-- Grid Column -->
      <div class="column ml-auto mr-auto margin-top">
        <h6>Useful links</h6>
        <p>Account</p>
        <p>Affiliate</p>
        <p>Help</p>
      </div>
      <!-- Grid Column -->

      <hr>

      <div class="column ml-auto mr-auto margin-top">
        <h6>Contact</h6>
        <p>Name</p>
        <p>Age</p>
        <p>Date</p>
      </div>


    </div>

    <div class="">

    </div>


<!--   <div class="content has-text-centered">-->
<!--    <p> Made with 💝 by Bolu Alabi</p>-->
<!--   </div>-->
  </div>
</footer>
