<section class="home-Bg is-Fullheight">
  <div class="home-Body">
    <div class="home-Container has-text-centered">
      <div class="main-div">
        <mat-card fxFlex="100">
          <mat-card-header>
            <mat-card-title>{{page.title}}</mat-card-title>
            <mat-card-subtitle>{{page.subtitle}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{page.content}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>


<!--<mat-card>-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>{{page.title}}</mat-card-title>-->
<!--    <mat-card-subtitle>{{page.subtitle}}</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    {{page.content}}-->
<!--  </mat-card-content>-->
<!--</mat-card>-->

