<section class="home-Bg is-Varheight">
  <div class="home-Body">
    <div class="home-Container has-text-centered">
      <div class="main-div">
        <mat-card fxFlex="100">
          <mat-card-header>
            <mat-card-title>{{page.title}}</mat-card-title>
            <mat-card-subtitle>{{page.subtitle}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{page.content}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<section>
<div class="home-Body">
  <div class="home-Container">
    <div>
      <h1 style="font-size: 42px; font-weight: 600 ;text-align: center; color: black"> What We Do </h1>
    </div>
    <div class="row">
      <div class="column">
        <h2 style="text-align: left">House Extensions</h2>
        <img src="assets/downtown-city-skyline.jpg" alt="" style="width: 100%" class="img1"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis mauris a metus malesuada posuere. Aliquam ultrices arcu leo, id feugiat quam aliquet sit amet. Maecenas venenatis semper iaculis. Sed sagittis ultricies velit nec dignissim. Phasellus lacinia ornare dignissim. Sed consequat, arcu eu laoreet finibus, dolor dui facilisis velit, eget dapibus mauris sapien vitae sapien. Aliquam non sapien semper, condimentum massa at, finibus dolor. Integer id euismod ipsum.

        Aliquam ac sagittis felis. Suspendisse eget risus sed turpis malesuada sagittis fringilla vitae risus. Praesent sit amet leo consequat, porttitor eros a, volutpat metus. Curabitur et libero pharetra nisi pulvinar gravida id eget diam. Morbi feugiat purus eros, dictum varius libero pellentesque ornare. Nunc lobortis mi massa. Sed luctus ac ante sollicitudin aliquet.

        Aenean ut mi imperdiet, interdum nisl et, facilisis velit. Sed at placerat sapien, id laoreet nisl. Cras vitae erat in mi vestibulum imperdiet. Nullam ornare dui eu lorem pellentesque, in congue nisi feugiat. Nulla condimentum velit libero, sed vulputate lorem sodales nec. Fusce a est a massa porta semper. Integer sit amet egestas erat. Proin massa felis, hendrerit eget ante id, finibus congue tortor. Fusce id viverra dolor. Aliquam eu diam convallis velit tempus euismod sit amet eget odio. Praesent magna lacus, venenatis ac pharetra vel, imperdiet nec sem. Aliquam erat volutpat. Sed vestibulum nisi quis molestie finibus. Aliquam in aliquam risus.

        Nulla blandit tellus vel arcu fermentum ultrices. Aliquam imperdiet tristique felis, ac malesuada orci tempus sed. Integer non orci at dolor mollis volutpat quis at ex. In sed nibh pulvinar, pellentesque purus quis, varius leo. Suspendisse scelerisque tellus odio, hendrerit pulvinar ex dapibus at. Morbi vitae ligula augue. Suspendisse libero magna, suscipit vel nunc non, auctor mollis sapien. Ut eu tortor turpis.

        Phasellus faucibus felis non odio tincidunt mattis. Vestibulum quis ex mollis dui fringilla faucibus. Aliquam commodo nibh id tortor aliquet tempor. Sed ut placerat risus, interdum commodo mauris. Vestibulum hendrerit risus lectus, efficitur laoreet nibh consectetur quis. Nulla eu gravida erat, quis iaculis orci. Vivamus nec posuere metus. Phasellus eleifend turpis non risus vulputate consequat. Ut vel odio felis. Mauris accumsan lectus magna, sit amet egestas ante condimentum egestas. Aliquam sed sem at eros cursus eleifend. Sed viverra turpis vel consequat convallis. Morbi urna augue, mollis vel ante at, rutrum congue nibh. Mauris lacinia ultrices leo, tempor sollicitudin lacus pulvinar non. Sed convallis facilisis est. Morbi eu molestie felis, ac ultricies ipsum.</p>
        <button class="button is-Outlined font-Style">Read More</button>
      </div>

      <div class="column">
        <h2 style="text-align: left">New Builds</h2>
        <img src="assets/downtown-city-skyline.jpg" alt="" style="width: 100%"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis mauris a metus malesuada posuere. Aliquam ultrices arcu leo, id feugiat quam aliquet sit amet. Maecenas venenatis semper iaculis. Sed sagittis ultricies velit nec dignissim. Phasellus lacinia ornare dignissim. Sed consequat, arcu eu laoreet finibus, dolor dui facilisis velit, eget dapibus mauris sapien vitae sapien. Aliquam non sapien semper, condimentum massa at, finibus dolor. Integer id euismod ipsum.

        Aliquam ac sagittis felis. Suspendisse eget risus sed turpis malesuada sagittis fringilla vitae risus. Praesent sit amet leo consequat, porttitor eros a, volutpat metus. Curabitur et libero pharetra nisi pulvinar gravida id eget diam. Morbi feugiat purus eros, dictum varius libero pellentesque ornare. Nunc lobortis mi massa. Sed luctus ac ante sollicitudin aliquet.

        Aenean ut mi imperdiet, interdum nisl et, facilisis velit. Sed at placerat sapien, id laoreet nisl. Cras vitae erat in mi vestibulum imperdiet. Nullam ornare dui eu lorem pellentesque, in congue nisi feugiat. Nulla condimentum velit libero, sed vulputate lorem sodales nec. Fusce a est a massa porta semper. Integer sit amet egestas erat. Proin massa felis, hendrerit eget ante id, finibus congue tortor. Fusce id viverra dolor. Aliquam eu diam convallis velit tempus euismod sit amet eget odio. Praesent magna lacus, venenatis ac pharetra vel, imperdiet nec sem. Aliquam erat volutpat. Sed vestibulum nisi quis molestie finibus. Aliquam in aliquam risus.

        Nulla blandit tellus vel arcu fermentum ultrices. Aliquam imperdiet tristique felis, ac malesuada orci tempus sed. Integer non orci at dolor mollis volutpat quis at ex. In sed nibh pulvinar, pellentesque purus quis, varius leo. Suspendisse scelerisque tellus odio, hendrerit pulvinar ex dapibus at. Morbi vitae ligula augue. Suspendisse libero magna, suscipit vel nunc non, auctor mollis sapien. Ut eu tortor turpis.

        Phasellus faucibus felis non odio tincidunt mattis. Vestibulum quis ex mollis dui fringilla faucibus. Aliquam commodo nibh id tortor aliquet tempor. Sed ut placerat risus, interdum commodo mauris. Vestibulum hendrerit risus lectus, efficitur laoreet nibh consectetur quis. Nulla eu gravida erat, quis iaculis orci. Vivamus nec posuere metus. Phasellus eleifend turpis non risus vulputate consequat. Ut vel odio felis. Mauris accumsan lectus magna, sit amet egestas ante condimentum egestas. Aliquam sed sem at eros cursus eleifend. Sed viverra turpis vel consequat convallis. Morbi urna augue, mollis vel ante at, rutrum congue nibh. Mauris lacinia ultrices leo, tempor sollicitudin lacus pulvinar non. Sed convallis facilisis est. Morbi eu molestie felis, ac ultricies ipsum.</p>

        <button class="button is-Outlined font-Style">Read More</button>
      </div>

      <div class="column">
        <h2 style="text-align: left">Renovations</h2>
        <img src="assets/downtown-city-skyline.jpg" alt="" style="width: 100%"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis mauris a metus malesuada posuere. Aliquam ultrices arcu leo, id feugiat quam aliquet sit amet. Maecenas venenatis semper iaculis. Sed sagittis ultricies velit nec dignissim. Phasellus lacinia ornare dignissim. Sed consequat, arcu eu laoreet finibus, dolor dui facilisis velit, eget dapibus mauris sapien vitae sapien. Aliquam non sapien semper, condimentum massa at, finibus dolor. Integer id euismod ipsum.

        Aliquam ac sagittis felis. Suspendisse eget risus sed turpis malesuada sagittis fringilla vitae risus. Praesent sit amet leo consequat, porttitor eros a, volutpat metus. Curabitur et libero pharetra nisi pulvinar gravida id eget diam. Morbi feugiat purus eros, dictum varius libero pellentesque ornare. Nunc lobortis mi massa. Sed luctus ac ante sollicitudin aliquet.

        Aenean ut mi imperdiet, interdum nisl et, facilisis velit. Sed at placerat sapien, id laoreet nisl. Cras vitae erat in mi vestibulum imperdiet. Nullam ornare dui eu lorem pellentesque, in congue nisi feugiat. Nulla condimentum velit libero, sed vulputate lorem sodales nec. Fusce a est a massa porta semper. Integer sit amet egestas erat. Proin massa felis, hendrerit eget ante id, finibus congue tortor. Fusce id viverra dolor. Aliquam eu diam convallis velit tempus euismod sit amet eget odio. Praesent magna lacus, venenatis ac pharetra vel, imperdiet nec sem. Aliquam erat volutpat. Sed vestibulum nisi quis molestie finibus. Aliquam in aliquam risus.

        Nulla blandit tellus vel arcu fermentum ultrices. Aliquam imperdiet tristique felis, ac malesuada orci tempus sed. Integer non orci at dolor mollis volutpat quis at ex. In sed nibh pulvinar, pellentesque purus quis, varius leo. Suspendisse scelerisque tellus odio, hendrerit pulvinar ex dapibus at. Morbi vitae ligula augue. Suspendisse libero magna, suscipit vel nunc non, auctor mollis sapien. Ut eu tortor turpis.

        Phasellus faucibus felis non odio tincidunt mattis. Vestibulum quis ex mollis dui fringilla faucibus. Aliquam commodo nibh id tortor aliquet tempor. Sed ut placerat risus, interdum commodo mauris. Vestibulum hendrerit risus lectus, efficitur laoreet nibh consectetur quis. Nulla eu gravida erat, quis iaculis orci. Vivamus nec posuere metus. Phasellus eleifend turpis non risus vulputate consequat. Ut vel odio felis. Mauris accumsan lectus magna, sit amet egestas ante condimentum egestas. Aliquam sed sem at eros cursus eleifend. Sed viverra turpis vel consequat convallis. Morbi urna augue, mollis vel ante at, rutrum congue nibh. Mauris lacinia ultrices leo, tempor sollicitudin lacus pulvinar non. Sed convallis facilisis est. Morbi eu molestie felis, ac ultricies ipsum.</p>

        <button class="button is-Outlined font-Style">Read More</button>
      </div>

    </div>
  </div>
</div>
</section>


<!--<mat-card>-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>{{page.title}}</mat-card-title>-->
<!--    <mat-card-subtitle>{{page.subtitle}}</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    {{page.content}}-->
<!--  </mat-card-content>-->
<!--</mat-card>-->

